<html>
    <body>
        <ul>
            <% counter = 0 %>
            <%  while counter < 15 do %>
            <% counter += 1 %>
            <% height += 10 %>
            <img src="http://placekitten.com/g/<%= width %>/<%= height %>">

            <% end %>
        </ul>
    </body>
</html>