<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express Hw</title>
</head>
<body>
    <h1> <%=name %>'s webpage! </h1>
    <h4> Hometown: <%=home %> </h4>
    <h4> Favorite Color: <%=color %> </h4>
    <h4> Favorite Band: <%=band %> </h4>
</body>
</html>