<html>
    <body>
        <ul>
            <% var i = 0 %>
            <%  while (i < 15) { %>
            <% i += 1 %>
            <% height += 10 %>
            

            <img src="http://placekitten.com/g/<%= width %>/<%= height %>">

            <% } %>
        </ul>
    </body>
</html>